body {
  font-family: 'Press Start 2P', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  background-color: var(--bg-color-primary);
  color: var(--text-color-secondary);
}

h2 {
  font-size: 1.4rem;
}

p {
  font-family: 'Prompt', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
