@import '../css/normalize.css';

@import './variables';
@import './container';
@import './general-styles';
@import './social-links';
@import './grids';
@import './spacing';
@import './button';
@import './filepond-styles';

html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-primary) !important;
}

.no-outline {
  outline: none !important;
}
